NODE_ENV="development"
DATABASE_URL="postgresql://dhaka_tesla:dhaka_tesla_dev@localhost:5432/dhaka_tesla"
POSTGRES_PORT=5432
PORT=3000
HOST="localhost"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
CORS_ORIGIN="http://localhost:3001"
API_PORT=3000
WEB_PORT=3001
NEXT_PUBLIC_API_URL="/api/v1"
